 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Currently one of thirty students specializing in Mechatronics under the Mechanical Engineering program at UBC. 12 months of Mechanical Engineering co-op work experience as a Product Engineer at IFD Corp. </p>
                </div>
                <div class="col-lg-4">
                    <p> I enjoy solving complex problems using my skills in Mechanical, Electrical and Software and Engineering. I am passionate about working towards building a sustaible future and changing the world for the better. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/file/d/1JznR-0DNKTm5sYjZq8NcG9sZxpJscTit/view?usp=sharing" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
